* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: black;
  font-size: 0.9375rem;
  line-height: 1.5em;
}

a {
  /* Remove underline from links */
  text-decoration: none;
  color: #262626;
}

ul {
  /* Remove bullets from list items */
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* Nav Bar */

.main-nav {
  display: flex;
  flex-direction: row; /* Redundant - By default direcrtion is row */
  align-items: center;
  justify-content: space-around; /* Distribute equal spaces to the 3 items */
  height: 3.75rem;
  padding: 1.25rem 0;
  font-size: 0.8125rem;
}

.main-nav .logo {
  width: 6.875rem;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 0.625rem;
}

.main-nav ul li a {
  padding-bottom: 0.3125rem;
}

.main-nav ul.main-menu li a:hover {
  border-bottom: 0.125rem solid #262626;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 1.25rem;
}

.main-nav ul.right-menu li a {
  display: flex;
  flex-direction: row; /* Redundant */
}

.main-nav ul.right-menu li a p {
  margin-right: 0.625rem;
}

.main-nav ul.right-menu li a p:hover {
  border-bottom: 0.125rem solid #262626;
}

.main-nav ul.right-menu li a p#sign-in:hover {
  border-bottom: 0;
}

.main-nav ul.right-menu li a i {
  line-height: 1.5625rem; /* In order to vertically center font awesome icons */
}

/* Covid Link */

.covid {
  cursor: pointer;
  background-color: #0067b8;
  display: inline-block;
  width: 100%;
  padding: 0.625rem;
  text-align: center;
}

.covid:hover {
  border: 0.0313rem dashed white;
}

.covid a {
  color: white;
  font-size: 0.75rem;
}

.covid:hover a {
  text-decoration: underline;
}

.covid i {
  font-size: 0.75rem;
  color: white;
}

.covid:hover i {
  padding-left: 0.1563rem;
}

/* Button */

.btn {
  display: inline-block;
  border: 0;
  background-color: #111111;
  color: white;
  font-weight: bold;
  padding: 0.625rem 1.25rem;
}

.btn:hover {
  opacity: 0.9;
  text-decoration: underline #bbb;
}

.btn:hover i {
  padding-left: 0.3125rem;
}

/* Showcase */

.showcase {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 100%;
  height: 31.25rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.showcase .right {
  flex: 1;
  text-align: center;
  display: block;
  overflow: hidden;
}

.showcase .left {
  flex: 1;
}

.showcase .left h2,
.showcase .left p,
.showcase .left a {
  margin-left: 4.6875rem;
  margin-top: 1.875rem;
}

.showcase .left h2 {
  font-size: 3.125rem;
}

/* Products */

.products {
  display: flex;
  margin: 4.0625rem 20rem;
  justify-content: space-between;
}

.products div {
  width: 7.8125rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
}

.products div img {
  width: 2.5rem;
  align-self: center;
  margin-bottom: 0.625rem;
  cursor: pointer;
}

.products div a {
  font-weight: bold;
}

.products div a:hover {
  text-decoration: underline;
}

/* Cards-1 */

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5625rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
}

.cards img {
  width: 100%;
  margin-bottom: 1.25rem;
}

.cards h3 {
  margin-bottom: 0.3125rem;
}

.cards a {
  display: inline-block;
  padding-top: 0.625rem;
  padding-bottom: 0.3125rem;
  padding-right: 1.25rem;
  color: #0067b8;
  font-weight: bold;
}

.cards a:hover {
  text-decoration: underline;
}

.cards a:hover i {
  padding-left: 0.3125rem;
}

.cards div:hover img {
  opacity: 0.9;
}

/* Xbox */
.xbox {
  background-color: #c9c9c9;
  margin: 3.125rem 0;
}

h2#work {
  font-weight: bold;
  margin-bottom: 1.25rem;
}

/* Social Media Links */

.social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3.125rem 0 2.5rem;
  color: #666;
}

.social-media * {
  margin-right: 0.625rem;
}

/* Footer Links */

.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 0.75rem;
  padding: 2.1875rem 0;
}

.links-inner {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: flex-start;
}

.links li {
  line-height: 1.875rem;
}

.links li a,
.footer a {
  color: #616161;
}

.links li a:hover,
.footer li a:hover {
  text-decoration: underline;
  color: black;
}

/* Footer */

.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 0.75rem;
  padding: 1.25rem 0;
}

.footer-inner {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer i {
  margin-right: 0.625rem;
}

.fa-globe-americas {
  font-size: 1.25rem;
}

.footer a:hover {
  text-decoration: underline;
}

.footer ul {
  display: flex;
}

.footer li {
  margin-right: 1.25rem;
}
