* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: black;
  font-size: 15px;
  line-height: 1.5em;
}

a {
  /* Remove underline from links */
  text-decoration: none;
  color: #262626;
}

ul {
  /* Remove bullets from list items */
  list-style: none;
}

.container {
  width: 90%;
  /* max-width: 1100px; */
  margin: auto;
}

/* Nav Bar */

.main-nav {
  display: flex;
  flex-direction: row; /* Redundant - By default direcrtion is row */
  align-items: center;
  justify-content: space-around; /* Distribute equal spaces to the 3 items */
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.main-nav .logo {
  width: 110px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 5px;
}

.main-nav ul.main-menu li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.main-nav ul.right-menu li a {
  display: flex;
  flex-direction: row; /* Redundant */
}

.main-nav ul.right-menu li a p {
  margin-right: 10px;
}

.main-nav ul.right-menu li a p:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.right-menu li a p#sign-in:hover {
  border-bottom: 0;
}

.main-nav ul.right-menu li a i {
  line-height: 25px; /* In order to vertically center font awesome icons */
}

/* Button */

.btn {
  display: inline-block;
  border: 0;
  background-color: #111111;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}

.btn:hover {
  opacity: 0.9;
  text-decoration: underline #bbb;
}

.btn:hover i {
  padding-left: 5px;
}

/* Showcase */

.showcase {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 20px;
}

.showcase .right {
  flex: 1;
  text-align: center;
  display: block;
  overflow: hidden;
}

.showcase .left {
  flex: 1;
}

.showcase .left h2,
.showcase .left p,
.showcase .left a {
  margin-left: 75px;
  margin-top: 30px;
}

.showcase .left h2 {
  font-size: 50px;
}

/* Cards-1 */

.cards-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.cards-1 img {
  width: 100%;
  margin-bottom: 20px;
}

.cards-1 h3 {
  margin-bottom: 5px;
}

.cards-1 a {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 20px;
  color: #0067b8;
  font-weight: bold;
}

.cards-1 a:hover {
  text-decoration: underline;
}

.cards-1 a:hover i {
  padding-left: 5px;
}
